* {
	font-family: 'Inconsolata', monospace;
	color: white;
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background: rgba(255,255,255,255);;
}

.full-image {
	width: 100%;
	height: 100vh;
	z-index: -10;
	object-fit: cover;
	display: block;
	position: fixed;
	opacity: 0.7;
}

#header {
	z-index: 0;
	background: rgba(41, 128, 185,1.0);
	height: 15vh;
	width: 100%;
	position: fixed;
	color: black;
	min-height: 100px;
}

#header-wrapper {
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

#header-text {
	display: inline-block;
	float: left;
	font-size: 6vw;
	line-height: 15vh;
}

#header-links {
	float: left;
	position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    height: 30%;
    margin: auto;
}

#header-links li {
	display: inline-block;
	margin-left: 20px;
}

#header-links li a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

#wrapper {
	position: absolute;
	width: 75%;
	left: 12.5%;
	margin-top: 20vh;
}

.text {
	background-color: white;
	color: black;
	padding: 20px;
	border-radius: 50px;
}

@media screen and (max-width: 750px) {
    #header-links li {
    	display: block;
    }
}
